<!DOCTYPE html>
<html lang="ko">
  <header>
    <meta charset="UTF-8" />
    <title>판다마켓</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <!-- 상단 이미지-->
<div class="header-img">
    <a href="/main">
      <img src="/img/logo.png" alt="판다마켓" />
    </a>

    <!-- 상단 메뉴바 -->
    <div class="header-menu">
      <nav class="menubar">
        <a href="/main">중고마켓</a>
        <a href="/share-writing">필기공유</a>
        <a href="/share-print">프린트공유</a>
        <a href="/event">이벤트</a>
      </nav>
    </div>
  </header>
  <body>
    <!-- 사이드 메뉴 -->
    <div class="side-menu">
        <ul>
            <li><a href="#">패션의류</a></li>
            <li><a href="#">뷰티 잡화</a></li>
            <li><a href="#">가구 생활</a></li>
            <li><a href="#">취미 컬렉션</a></li>
            <li><a href="#">디지털</a></li>
            <li><a href="#">컴퓨터</a></li>
            <li><a href="#">스포츠 레저</a></li>
            <li><a href="#">생활 가전</a></li>
            <li><a href="#">공구</a></li>
            <li><a href="#">도서 기타</a></li>
        </ul>

    </div>
    <!-- 사이드 이벤트 -->
    <div class="side-event">
    <ul>
        <li><a>이벤트</a></li>
        <li><a></a></li>
        <li><a>없음</a></li>
        <li><a></a></li>
        <li><a></a></li>
    </ul>
    </div>

    <!-- 콘텐츠 -->
    <div class="content">
        <div class="search">
            <input type="text" />
            <button type="button">검색</button>
        </div>
        <div class="item">
            <img src="/img/1.jpg" />
            <a href="#" style="text-align: left;">정품 긴팔 얇은 카라티 면 신축성 남105/라덴</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/2.jpg" />
            <a href="#" style="text-align: left;">엘칸토 스니커즈 운동화</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/3.jpg" />
            <a href="#" style="text-align: left;">키친아트 상태좋은 전기그릴 삼겹살</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/4.jpg" />
            <a href="#" style="text-align: left;">니콘 FE (실버바디)</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/5.jpg" />
            <a href="#" style="text-align: left;">닌텐도 스위치 라이트 타콰이즈</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/6.jpg" />
            <a href="#" style="text-align: left;">랜드웨이 인라인스케이트 210~240mm 조절 깨끗 중고</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/7.jpg" />
            <a href="#" style="text-align: left;">굿럭/한겨레21 특집호/시사 매거진/과월호 잡지 일괄</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/8.jpg" />
            <a href="#" style="text-align: left;">270~아이다스 운동화 농구화 AH2121 18년신상</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
        <div class="item">
            <img src="/img/9.jpg" />
            <a href="#" style="text-align: left;"></a>뉴발란스 색상고운 티셔츠</a>
            <a style="text-align: right; color: gray; font-size: large">판매가 ?원</a>
        </div>
    </div>

<footer class="text-light text-center text-lg-left">
  <div class="footer-copyright">
    Copyright © YoonHo - All Rights Reserved.
  </div>
</footer>

  </body>
</html>
