<!DOCTYPE html>
<html lang="ko">
  <meta charset="UTF-8" />
  <title>Error</title>

  <body>
    <div>
      <h2>
        예기치 못한 오류가 발생하였습니다. 자세한 사항은 사이트 관리자에게
        문의하시기 바랍니다.
      </h2>
      <p>오류 코드: <%= err_code %></p>
      <a href="/main">메인 페이지로 돌아가기</a>
    </div>
  </body>
</html>
